<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
</head>
<body>
    <h1>ホームページ<%= 'hello word'.toUpperCase() %></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero deleniti cumque odit dolorem distinctio sed, quod cupiditate inventore error eos minus culpa minima officiis, accusantium at nisi magni ipsam hic.
    Exercitationem, quos doloremque. Rerum molestias aperiam perspiciatis! Odio obcaecati id eos hic dolores quam fugit. Eos explicabo labore voluptas porro delectus velit totam autem adipisci ab dolores, nobis repellendus sapiente.</p>
    
</body>
</html>